@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    background-color: #F3E5C3;
}

.login-page{
    position: relative;
    top: 10rem;
    left: 1rem;
}

.avalmeos{
    display: inline-block;
    position: relative;
    left: 12rem;
    top: 1rem;
}

.title{
    color: #174E4F;
    font-family: "Open Sans", Verdana, "sans-serif";
    font-size: 4rem;
    position: relative;
    top: 3rem;
}

.content{
    font-family: "Open Sans", Verdana, "sans-serif";
    font-size: 2rem;
    
}

.container{
    float: right;
    position: relative;
    right: 16rem;
    top: 1.5rem;
    background-color: #174E4F;
    width: 25rem;
    height: 21.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 0.3rem #2a2a2a;
    
}

.email{
    font-size: 1rem;
    color: #F3E5C3;
    outline: none;
    padding: 1rem;
    width: 21rem;
    position: relative;
    left: 0.9rem;
    top: 1rem;
    border: 0.1rem solid #F3E5C3;
    border-radius: 0.6rem;
    background-color: #174E4F;
}

.password{
    font-size: 1rem;
    color: #F3E5C3;
    outline: none;
    padding: 1rem;
    width: 21rem;
    position: relative;
    left: 0.9rem;
    top: 1.7rem;
    border: 0.1rem solid #F3E5C3;
    border-radius: 0.6rem;
    background-color: #174E4F;
}

input::placeholder{
    color: #F3E5C3;
    font-size: 1rem;
}

.login{
    padding: 0.8rem 9.8rem;
    border: 0.1rem solid #D6C3A5;
    border-radius: 0.6rem;
    position: relative;
    top: 4rem;
    left: 0.9rem;
    text-decoration: none;
    color: #174E4F;
    font-family: "Open Sans", Verdana, "sans-serif";
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #F3E5C3;
    box-shadow: 0 0 0.1rem #D6C3A5;
}

.forgot{
    text-decoration: none;
    color: #F3E5C3;
    position: relative;
    top: 5.6rem;
    left: 8.8rem;
    font-family: "Open Sans", Verdana, "sans-serif";
    font-size: 1rem;

}

.create{
    text-decoration: none;
    color: #174E4F;
    background-color: #F3E5C3;
    border: 0.1rem solid #D6C3A5;
    border-radius: 0.6rem;
    padding: 0.8rem 3rem;
    position: relative;
    top: 8.5rem;
    left: 4rem;
    font-family: "Open Sans", Verdana, "sans-serif";
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: 0 0 0.1rem #D6C3A5;
}
