img{
    width: 10rem;
    height: 5rem;
    
}

nav{
    position: absolute;
    right: 10rem;
    top: 1rem;
}

.box{
    width: 10rem;
    height: 10rem;
    border: 0.20rem solid black;
    margin-top: 1rem;
    display: inline-block;
}

h1{
    font-size: 4rem;
    text-align: center;
}