body{
    margin: 0;
    display: flex;
}

.side-bar{
    background: linear-gradient(400deg, rgba(45, 168, 139, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border: 2px solid black;
    padding: 16px;
    width: 260px;
    height: 695px;
    
}

.links a{
    display: inline-block;
}

.Dashboard{
    text-decoration: none;
    border: 1px solid black;
    padding: 15px 95px;
}
